<div class="cartBox">
  <h1 class="text-danger">shopping cart</h1>
  <div class="headCart">
    <p class="load"><label class="text-danger">2</label> item in your cart</p>
    <span class="text-danger card-header">clear shopping cart</span>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>name</th>
        <th>price</th>
        <th style="width: 25%">Quantity</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <app-cart-item *ngFor="let product of products" [product]="product"> </app-cart-item>
    </tbody>

    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total : 1500</td>
        <td><button class="btn btn-success">Order Now</button></td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="alert alert-success" role="alert"><strong>Well done!</strong> Your Order is Successfully Send</div>
