<div class="box bt-5">
  <div class="w-25">
    <app-select [category]="'categories'" [categories]="categories" (emitter)="filterCategories($event)"></app-select>
  </div>
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <app-spinner></app-spinner>
  </div>
  <div class="row" *ngIf="!isLoading">
    <div class="col-md-3 col-sm-12" *ngFor="let product of products">
      <app-product-details [data]="product" (addItem)="addItemToCart($event)"></app-product-details>
    </div>
  </div>
</div>